# Normalize line endings in the repository
* text=auto

# Binary formats
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.db binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.parquet binary
*.raw binary
*.step binary
